.destaque{
    color: rgb(0, 34, 129)
    
}



#area-mensagens {
    border: 5px solid #00ff00;
    padding: 5px;
    text-align: center;


}

#area-mensagens:hover { 
    background-color: yellow;
}
